@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body{
    display: flex;
    background-color: #e5e5e5;
    margin:0;
    padding:0;
    justify-content: center;
    align-items: center;
    color: #F5F5F5;
    font-family: 'Inter', sans-serif
}

h1, h3 {
    margin: 0;
    padding: 0;
}


.app-container {
    width: 550px;
    height:719px;
}

.title-section {
    text-align: center;
    margin: auto;
    background-color: #3A69D2;
    padding: 59px 0 51px 0;
    color: #fff;
}

#title{
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -0.02em;
}

#sub-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    padding-top: 9px;
}

.data-section {
    background-color: #1F2937;
    padding: 41px 39px 29px 39px;
}

.srv-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 43px;
}

.services-btn {
    background: #D1D4F4;
    height: 45px;
    width: 143px;
    border: 2px solid #FFFFFF;
    border-radius: 7px;
    padding: 9px 13px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.list {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 19px;
    color: #F5F5F5;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.list-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px;
}

.task {
    display: flex;
    flex-direction: column;
}
#items {
    display: flex;
    /* flex-direction: column; */
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 24px;
}
.remove-btn {
    font-weight: 400;
    font-size: 8px;
    line-height: 20px;
    color: #D5D4D8;
    background-color: transparent;
    border: none;
    margin-left: 15px;
}

.total {
    text-align: right;
}

#dollar {
    font-weight: 300;
    font-size: 24px;
    line-height: 20px;
    color: #918E9B;
}
#value {
    font-weight: 300;
    font-size: 24px;
    line-height: 20px;
    margin-bottom: 24px;
}

.line {
    width: 471px;
    border: 1px solid #C3C6DB;
    margin-bottom: 11px;
}

.summary-section {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 12px;
}
.notes {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
#notes-title {
    font-weight: 600;
    line-height: 15px;
}
#notes-content {
    font-weight: 400;
    line-height: 15px;
    margin-top: 11px;
}

.total-section {
    text-align: right;
}

.total-sum {
    font-weight: 600;
    font-size: 36px;
    line-height: 32px;
    margin-top: 11px;
}

.send-btn-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 473px;
    height: 44px;
    background-color: #3A69D2;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    margin: 50px auto 22px;
}

#email {
    margin-right: 14px;
}

.pointer {
    cursor: pointer;
}

